@use 'variables' as *;
@use 'mixins' as *;

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family-primary;
}

/* Base */
body {
    color: $black;
    background: $beige-100;
    max-width: 1920px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
