@use '../variables' as *;
@use '../mixins' as *;

.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    width: 100%;
    height: 88px;
    overflow: hidden;
    transition: all 0.3s ease;

    
    &.header--blurred {
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    color: $black;
    background: $beige-transparent;
    backdrop-filter: blur(10px);
    
    .header__logo {
        color: $black;
    }
    
    .nav__link {
        color: $black;
    }
    
    .header__phone {
        color: $black;
    }
    }
}

.header__container {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1170px;
  padding-right: 52px;
  padding-left: 52px;
  margin: 0 auto;

  @media (width <= 1024px) and (width >= 769px) {
    padding-right: 52px;
    padding-left: 52px;
  }

  @media (width <= 768px) {
    padding-right: 21px;
    padding-left: 21px;
  }
}

.header__logo {
    color: $white;

    &::after {
      display: none;
    }

    svg {
        width: 182px;
        height: 31px;
    }

    @media (width <= 768px) {
        svg {
            width: 133px;
            height: 22px;
        }
    }
}

.nav {
    @media (width <= 860px) {
        display: none;
    }
}

.nav__list {
    @include responsive-p-normal;

    & {
        display: flex;
        gap: 50px;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    @media (width <= 1024px) {
        gap: 30px;
    }
}

.nav__link {
    @include responsive-p-normal;

    & {
        position: relative;
        color: $white;
        text-decoration: none;
    }

    & {
        @include transition;
    }

    &::after {
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 1px;
      content: "";
      background: currentcolor;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.25s ease;
    }

    @include hover-desktop {
      &::after {
        transform: scaleX(1);
      }
    }
}

.header__phone {
    @include responsive-p-normal;

    & {
        color: $white;
        text-decoration: none;
    }

    &::after {
      display: none;
    }
}





