@use '../variables' as *;
@use '../mixins' as *;

/* Header */
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 88px;
    transition: all 0.3s ease;
    display: flex;

    
    &.header--blurred {
    position: fixed;
    background: $beige-transparent;
    backdrop-filter: blur(10px);
    color: $black;
    
    .header__logo {
        color: $black;
    }
    
    .nav__link {
        color: $black;
    }
    
    .header__phone {
        color: $black;
    }
    
    @media (max-width: 360px) {
        max-width: 360px;
    }
    }
}

.header__container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 52px;
  padding-right: 52px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  /* Планшет 769–1024px */
  @media (max-width: 1024px) and (min-width: 769px) {
    padding-left: 52px;
    padding-right: 52px;
  }

  /* Мобилка ≤ 768px */
  @media (max-width: 768px) {
    padding-left: 21px;
    padding-right: 21px;
  }
}

.header__logo {
    color: $white;
    svg {
        width: 182px;
        height: 31px;
    }
    @media (max-width: 360px) {
        svg {
            width: 133px;
            height: 22px;
        }
    }
}

.nav__list {
    @include responsive-p-normal;
    & {
        display: flex;
        list-style: none;
        gap: 50px;
        margin: 0;
        padding: 0;
    }
    @media (max-width: 1024px) {
        gap: 30px;
    }
}

.nav__link {
    @include responsive-p-normal;
    & {
        color: $white;
        text-decoration: none;
        position: relative;
    }
    & {
        @include transition();
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 1px;
      background: currentColor;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.25s ease;
    }

    &:hover::after {
      transform: scaleX(1);
    }
}

.header__phone {
    @include responsive-p-normal;
    & {
        color: $white;
        text-decoration: none;
    }
}





