@use '../variables' as *;
@use '../mixins' as *;

/* Hero Section */
.hero {
    position: relative;
    width: 100vw;                 // full-bleed width
    height: 100vh;
    left: 50%;                    // center the full-bleed block inside centered body
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./images/backgrounds/header.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @media (max-width: 360px) {
        min-height: 488px;
        background-size: cover;
        background-position: center top;
    }
}

.hero__container {
    text-align: center;
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 88px);
}

.hero__title {
    color: $white;
    text-align: center;
    @include responsive-h1;
}

.hero__subtitle {
    @include responsive-p-normal;
    & {
        color: $white;
        text-align: center;
        max-width: 562px;
        margin: 50px auto;
    }
    @media (max-width: 1024px) {
        max-width: 400px;
    }
    @media (max-width: 360px) {
        max-width: 310px;
        margin: 40px 0;
    }
}

.btn {
    @include responsive-p-small;
    & {
        display: inline-flex;
        padding: 5px 20px;
        background: $white;
        color: $black;
        text-decoration: none;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    & {
        @include transition();
    }

    &:hover {
        background: $orange-200;
        color: $white;
    }

    &:active {
        transform: translateY(0);
        background: $orange-100;
    }
}


