@use '../variables' as *;
@use '../mixins' as *;

/* Reviews Section */

.reviews__container {
    @include section-padding;
    text-align: center;
}

.reviews__title {
    @include responsive-h2;
    text-align: center;
    margin-bottom: 30px;
    color: $black;
    @media (max-width: 360px) {
        margin-bottom: 20px;
    }
}

.reviews__subtitle {
    @include responsive-p-normal;
    color: $gray-300;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 360px) {
        margin-bottom: 50px;
    }
}

.reviews__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 0 auto;
    @media (max-width: 1024px) {
        gap: 18px;
    }
    
    @media (max-width: 360px) {
        grid-template-columns: 1fr;
    }
}

.review-card {
    background: $beige-200;
    padding: 40px;
    border-radius: 50px;
    text-align: left;
    display: flex;
    flex-direction: column;
    min-height: 673px;
    @media (max-width: 1024px) {
        min-height: 841px;
    }
    @media (max-width: 360px) {
    border-radius: 20px;
        padding: 20px;
        min-height: auto;
    }
}

.review-card__text {
    @include responsive-p-big;
    color: $black;
    margin-bottom: 30px;
    flex: 1;
    @media (max-width: 360px) {
        margin-bottom: 40px;
        padding-right: 5px;
    }
}

.review-card__author {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    margin-top: auto;
    @media (max-width: 360px) {
        margin-top: 5px;
    }
}

.review-card__info {
    flex: 1;
    
    @media (max-width: 360px) {
        align-self: flex-end;
        text-align: left;
    }
}

.review-card__avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    order: 2;
}

.review-card__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review-card__info h4 {
    @include responsive-h3;
    color: $black;
    margin-bottom: 8px;
}

.review-card__info p {
    @include responsive-p-small;
    color: $gray-300;
    margin: 0;
}
