@use '../variables' as *;
@use '../mixins' as *;

/* Stories Section */
.stories {
    &__container {
        @include section-padding;
        overflow: visible;
    }
    
    &__title {
        @include responsive-h2;
        text-align: center;
        margin-bottom: 30px;
        color: $black;
        @media (max-width: 360px) {
            margin-bottom: 20px;
        }
    }
    
    &__subtitle {
        @include responsive-p-normal;
        color: $gray-300;
        text-align: center;
        margin-bottom: 100px;
        margin-left: auto;
        margin-right: auto;
        @media (max-width: 360px) {
            margin-bottom: 50px;
        }
    }
    
    &__grid {
        display: flex;
        flex-direction: column;
        gap: 50px;
        overflow: visible;
        @media (max-width: 360px) {
            gap: 20px;
        }
    }
    
    .story-card {
        width: 100%;
        border-radius: 50px;
        overflow: hidden;
        position: relative;
        height: 567px;
        display: flex;
        align-items: flex-end;
        transition: transform 300ms ease;
        transform: scale(1);
        transform-origin: center;
        
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
            opacity: 0;
            transition: opacity 300ms ease;
            z-index: 1;
        }
        
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            z-index: 0;
            transform: scale(1);
            @include transition();
        }
        
        &:hover {
            &::before {
                opacity: 1;
            }
            
            &::after {
                transform: scale(1.2);
                @include transition();
            }
            
            .tour-card__link {
                color: $white;
                
                &::after {
                    background: $green-400;
                }
            }
        }
        
        @media (max-width: 510px) and (min-width: 361px) {
            height: auto;
        }
        
        @media (max-width: 360px) {
            border-radius: 20px;
            height: 455px;
        }
        
        // Фоны для карточек
        &--1 {
            &::after {
                background-image: url('./images/stories/storyPhoto1.webp');
            }
        }
        
        &--2 {
            &::after {
                background-image: url('./images/stories/storyPhoto2.webp');
            }
        }
        
        &--3 {
            &::after {
                background-image: url('./images/stories/storyPhoto3.webp');
            }
        }
        
        &__content {
            padding: 60px;
            color: $white;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            position: relative;
            z-index: 2;
            @media (max-width: 768px) {
                padding: 40px;
            }
            @media (max-width: 360px) {
                padding: 30px;
            }
        }
        
        &__title {
            @include responsive-h3;
            color: $white;
            margin-bottom: 37px;
            @media (max-width: 360px) {
                margin-bottom: 20px;
                max-width: 60%;
            }
        }
        
        &__text {
            @include responsive-p-normal;
            color: $white;
            margin-bottom: 26px;
            max-width: 55%;
            @media (max-width: 1024px) {
                max-width: 70%;
            }
            @media (max-width: 360px) {
                margin-bottom: 27px;
                max-width: 100%;
            }
        }
        
        &__list {
            margin-left: 10px;
            list-style: none;
            
            li {
                @include responsive-p-normal;
                color: $white;
                position: relative;
                padding-left: 13px;
                
                &::before {
                    content: '•';
                    position: absolute;
                    left: 0;
                    color: $white;
                }
            }
        }
        
        &__bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width: 768px) and (min-width: 361px) {
                margin-top: 20px;
            }
            @media (max-width: 360px) {
                margin-right: auto;
                flex-direction: column;
        }
    }
        
        &__link {
            @include responsive-p-big;
            color: $white;
            text-decoration: none;
            font-weight: $font-weight-medium;
            transition: all 0.3s ease;
            position: relative;
            
            &::after {
                content: '';
                position: absolute;
                top: -7px;
                left: -20px;
                right: -20px;
                bottom: -7px;
                background: transparent;
                border-radius: 50px;
                z-index: -1;
                @include transition();
            }
            
            &:hover {
                color: $white;
                
                &::after {
                    background: $green-400;
                }
            }
            
        }
        
        &__socials {
            display: flex;
            gap: 35px;
            @media (max-width: 360px) {
                display: none;
            }
            
            .social-link {
                @include responsive-p-normal;
                color: $white;
                text-decoration: none;
                transition: all 0.3s ease;
                @media (max-width: 768px) {
                    display: none;
                }
                
                &:hover {
                    text-decoration: underline;
                }
                
                &:active {
                    color: $orange-200;
                    text-decoration: underline;
                }
            }
        }
    }
}



